### all ignore ###
/*
/.**

### not ignore ###
!/.zshrc
!/.zshenv
!/.zsh/
!/.zsh/rc/
!/.zsh/rc/**

!/.vimrc

!/.gitignore_global

!/.bin/
!/.bin/**

!/README.md
!.gitignore
!.gitkeep
!/LICENSE
!.gitconfig_shared

!/vscode/
